<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Growing - Server error</title>

    {{>head}}
    <link rel="stylesheet" href="/assets/css/errorScreen.css">

</head>
<body class="desert">

<!-- ======= Header ======= -->
<section>
    <header id="header" class="header fixed-top">
        <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

            <a href="/" class="logo d-flex align-items-center">
                <img src="/images/growingLogo.png" alt="">
            </a>

            <nav id="navbar" class="navbar">
                <ul>
                    <li><a class="nav-link scrollto" href="/">Home</a></li>
                    <li><a class="nav-link scrollto" href="/categories">Categories</a></li>
                    <li><a class="nav-link scrollto" href="/explore">Explore</a></li>
                    <li><a class="nav-link scrollto" href="/aboutUs">About us</a></li>
                    {{#registered}}
                    <li><a class="nav-link scrollto active" href="/profile"><i class="fas fa-user"></i></a>
                    </li>
                    <form action="/logout" method="post" >
                        <input type="submit" value="Sign out" class="sign_out scrollto"/>
                    </form>
                    {{/registered}}
                    {{^registered}}
                    <li><a class="getstarted scrollto" href="/getStarted">Get Started</a></li>
                    {{/registered}}
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav><!-- .navbar -->

        </div>

    </header><!-- End Header -->
</section>

<div class="container-fluid desert">

    <div class="row">

        <div class="col-lg-1 d-md-block borderScreen"></div>

        <div class="col-lg-10 col-md-12 main">
            <h1 class="title">500 - Server Error</h1>
            <div class="Text errorMessage">
                <h2>Ups, a server error appeared</h2>
                <h3>Where are all the trees? <br> They are gone because of a server error.<br> Don't panic, we are working hard to bring them back for you.</h3>
            </div>
                <img class="img" src="/assets/img/working.png">
        </div>

        <div class="col-lg-1 d-md-block border-screen"></div>
    </div>
</div>

{{>footer}}