<section id="services" class="services">


    <div class="container" data-aos="fade-left">
        <!-- Title header -->
        <header class="section-header category">
            <div class="justify-content-center">
                <h1>Categories</h1>
                <h2 class="subtitle">Choose a category to start</h2>
            </div>

        </header>
        <!-- End title header -->
        <div class="row gy-4">

            {{#category}}
            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="700">
                <div class="service-box {{color}}">
                    <div class="profile-background">
                        <img src="/image/category/{{name}}" class="photo icon">
                    </div>
                    <h3>{{name}}</h3>
                    <p>{{des}}</p>
                    <a href="/categoryInfo/{{name}}" class="read-more"><span>Read More</span> <i
                            class="bi bi-arrow-right"></i></a>
                </div>
            </div>
            {{/category}}
        </div>

    </div>

</section>
<!-- End Category Section -->
