<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Growing - Mental Health</title>

    {{>head}}
    <link href="/assets/css/category.css" rel="stylesheet">

    <!-- jquery  -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


</head>

<body>

<!-- Start of the header-->
<header id="header" class="header fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

        <a href="/" class="logo d-flex align-items-center">
            <img src="/images/growingLogo.png" alt="">
        </a>

        <nav id="navbar" class="navbar">
            <ul>
                <li><a class="nav-link scrollto" href="/">Home</a></li>
                <li><a class="nav-link scrollto" href="/categories">Categories</a></li>
                <li><a class="nav-link scrollto" href="/explore">Explore</a></li>
                <li><a class="nav-link scrollto" href="/aboutUs">About us</a></li>
                {{#registered}}
                <li><a class="nav-link scrollto" href="/profile"><i class="fas fa-user"></i></a>
                </li>
                <li>
                    <form action="/logout" method="post">
                        <input type="hidden" name="_csrf" value="{{token}}"/>
                        <input type="submit" value="Sign out" class="sign_out scrollto"/>
                    </form>
                </li>
                {{/registered}}
                {{^registered}}
                <li><a class="getstarted scrollto" href="/getStarted">Get Started</a></li>
                {{/registered}}
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->

    </div>
</header>
<!-- End Header -->

<!-- Start of the Page-->
<section id="mentalHealth" class="mentalHealth">
    <div class="container">
        <!-- Container of the header-->
        <header class="section-header category" data-aos="fade-left">
            {{#admin}}
            <form class="editCategory" method="post" action="/editCategory/{{category.name}}">
                <input type="hidden" name="_csrf" value="{{token}}"/>
                <input class="edit" type="submit" value="Edit category">
            </form>
            {{/admin}}
            <div class="justify-content-center">
                <h1>{{category.name}}</h1>

                {{#registered}}
                {{^category.likedByUser}}
                <form method="post" action="/categoryInfo/{{name}}/like">
                    <input type="hidden" name="_csrf" value="{{token}}"/>
                    <input type="image" name="submit" src="/assets/img/level/EmptyHeart.svg" class="photoHeart like" alt="emptyHeart">
                </form>
                {{/category.likedByUser}}
                {{#category.likedByUser}}
                <form method="post" action="/categoryInfo/{{name}}/dislike">
                    <input type="hidden" name="_csrf" value="{{token}}"/>
                    <input type="image" name="submit" src ="/assets/img/level/FullHeart.svg" class="photoHeart like" alt="filledHeart">
                </form>
                {{/category.likedByUser}}
                {{/registered}}
                <h2 class="subtitle">{{category.des}}</h2>
            </div>
        </header>
        <!-- End of the container of the header-->
        {{#admin}}
        <!-- Add button for Admin User -->
        <div class="editCategory align-items-center">
            <button class="addNew" onclick="javascript:openCloseForm()" data-aos="fade-up">Add plan</button>
            <div class="form-popup" id="myForm">
                <form action="/categoryInfo/{{name}}/addPlan" method="post"
                      class="sign-up-form form-container" enctype="multipart/form-data">
                    <h2 class="title">Create new plan</h2>
                    <!-- Plan name -->
                    <div class="input-field">
                        <i class="fas fa-signature"></i>
                        <input type="text" name="planName" placeholder="name" required/>
                    </div>
                    <!-- abv -->
                    <div class="input-field">
                        <i class="fas fa-font"></i>
                        <input type="text" name="abv" placeholder="abv" required/>
                    </div>
                    <!-- Description-->
                    <div class="input-field">
                        <i class="far fa-comments"></i>
                        <input type="text" name="description" placeholder="description" required/>
                    </div>
                    <!-- Difficulty -->
                    <div class="input-field">
                        <i class="fas fa-traffic-light"></i>
                        <input type="number" min="1" max="3" name="difficulty" placeholder="level"
                               required/>
                    </div>
                    <input type="submit" id="create" value="Create plan"/>
                    <button type="button" id="cancel" onclick="javascript:closeForm()">Cancel</button>
                    <input type="hidden" name="_csrf" value="{{token}}"/>
                </form>

            </div>
        </div>

        <!-- End add button for Admin User -->
        {{/admin}}
        <div class="row" data-aos="fade-up">
            <!-- Tree section-->
            <div class="col-md-5">
                <header class="section-header">
                    <h3>Your progress</h3>
                </header>
                <div class="imagenArbol">
                    {{#registered}}
                    <img class="progress" src="{{image}}"/>
                    <p class="update"> Last updated: {{date}} </p>
                    {{/registered}}
                    {{^registered}}
                    <img class="progress" src="{{image}}"/>
                    <p class="update">To see your real progress: <a href="/getStarted">log in</a></p>
                    {{/registered}}
                </div>
            </div>
            <!-- End of Tree Section -->

            <!-- Start of Task List -->
            <div class="col-md-7 list">
                <header class="section-header plan">
                    <h3>Task</h3>
                </header>

                {{>accordionCategories}}
                <!-- End Task List -->
            </div>
            <!-- End container Task List -->
        </div>
        <!-- End row -->
    </div>
    <!-- End Screen Container -->
</section>

{{>footer}}
