<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Growing - Categories</title>

    {{>head}}
    <link href="/assets/css/category.css" rel="stylesheet">

</head>
<body>
<header id="header" class="header fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

        <a href="/" class="logo d-flex align-items-center">
            <img src="/images/growingLogo.png" alt="">
        </a>

        <nav id="navbar" class="navbar">
            <ul>
                <li><a class="nav-link scrollto" href="/">Home</a></li>
                <li><a class="nav-link scrollto active" href=/categories>Categories</a></li>
                <li><a class="nav-link scrollto " href="/explore">Explore</a></li>
                <li><a class="nav-link scrollto" href="/aboutUs">About us</a></li>
                {{#registered}}
                <li><a class="nav-link scrollto" href="/profile"><i class="fas fa-user"></i></a>
                </li>
                <li>
                    <form action="/logout" method="post" >
                        <input type="hidden" name="_csrf" value="{{token}}"/>
                        <input type="submit" value="Sign out" class="sign_out scrollto"/>
                    </form>
                </li>
                {{/registered}}
                {{^registered}}
                <li><a class="getstarted scrollto" href="/getStarted">Get Started</a></li>
                {{/registered}}
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->
    </div>
</header><!-- End Header -->
{{#admin}}
<!-- Add button for Admin User -->
<div class="editCategory align-items-center">
    <button class="addNew cat" onclick="javascript:openCloseForm()"  data-aos="fade-left">Add category</button>
    <div class="form-popup" id="myForm">
        <form action="/addCategory" method="post" class="sign-up-form form-container" enctype="multipart/form-data">
            <h2 class="title">Create Category</h2>
            <!-- Category name -->
            <div class="input-field">
                <i class="fas fa-signature"></i>
                <input type="text" name="name" placeholder="name" required/>
            </div>
            <!-- Description-->
            <div class="input-field">
                <i class="far fa-comments"></i>
                <input type="text" name="des" placeholder="description" required/>
            </div>
            <!-- Icon -->
            <div class="input-field">
                <i class="far fa-image"></i>
                <input type="file" name="icon" placeholder="icon" required/>
            </div>
            <!-- color -->
            <div class="input-field">
                <i class="fas fa-palette"></i>
                <select name="color" id="color">
                    <option value="orange">Orange</option>
                    <option value="darkblue">Dark blue</option>
                    <option value="purple">Purple</option>
                    <option value="blue">Blue</option>
                    <option value="red">Red</option>
                    <option value="green">Green</option>
                </select>
            </div>

            <input type="submit" id="create" value="Create Category"/>
            <button type="button" id="cancel" onclick="javascript:closeForm()">Cancel</button>
            <input type="hidden" name="_csrf" value="{{token}}"/>
        </form>
    </div>
</div>
<!-- End add button for Admin User -->
{{/admin}}
<!-- ======= Categories ======= -->
{{>categoryList}}

<!-- ======= Footer ======= -->
{{>footer}}
