{{#Plan}}
<div class="col-lg-6">
    <div class="accordion accordion-flush" id="{{abv}}">
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#faq-content-{{abv}}">
                    <div class="service-box orange">
                        <div class="profile-background explore">
                            <img src="/image/category/{{category.name}}" class="icon">
                        </div>
                    </div>
                    {{name}}<img src="/assets/img/level/level{{difficulty}}.png" class="icon"/>
                    {{#admin}}
                    <a href="/editPlan/{{name}}"><i class="editIcon fas fa-pencil-alt fa-lg"></i></a>
                    {{/admin}}
                </button>
            </h2>
            <div id="faq-content-{{abv}}" class="accordion-collapse collapse"
                 data-bs-parent="#{{abv}}">
                <div class="accordion-body">
                    {{description}}
                    {{#registered}}
                    <div class="col-7">
                        <button onclick="ChangeButtonsStatus(this)" class="start">Start</button>
                        <form method="post" action="/complete/{{name}}">
                            <input type="submit" class="finish" value="I did it!">
                            <input type="hidden" name="_csrf" value="{{token}}"/>
                        </form>
                        <button onclick="ChangeButtonsStatus(this)" class="leave">I won't finish
                        </button>
                    </div>
                    <div class="col-3">
                        {{^likedUser}}
                        <h2><img src="./assets/img/level/EmptyHeart.svg" class="like icon" onclick="ChangeHeart(this)"/></h2>
                        {{/likedUser}}
                        {{#likedUser}}
                        <h2><img src="./assets/img/level/FullHeart.svg" class="like  icon" onclick="ChangeHeart(this)"/></h2>
                        {{/likedUser}}

                    </div>
                    {{/registered}}

                </div>
            </div>
        </div>
    </div>
</div>
{{/Plan}}